* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Tungsten';
}

body {
    background-color: #100b49;
}

.main {
    margin: 80px auto 0;
    width: 480px;
}

.cover-wrap {
    color: white;
    display: block;
    width: 280px;
    height: 160px;
    margin: 18px auto 40px;
    background-color: lightgray;
    animation: sin infinite 1.4s linear;
    text-align: center;
    font-size: 68px;
    line-height: 240px;
}

.cover {
    display: none;
    width: 480px;
    height: 480px;
    object-fit: cover;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 68px;
}

h2 {
    font-size: 46px;
}

@keyframes sin {
    0% { background-color: #0e0b2e;}
    50% { background-color: #1f1a58;}
    100% { background-color: #0e0b2e;}
}